on:
  workflow_call:

jobs:
  close-milestone:
    runs-on: ubuntu-slim
    steps:
      - uses: mhutchie/update-milestone-on-release@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
